
*{
  transition-property: all;
  transition-duration: 1s;
  -o-transition-timing-function: ease-in-out;
  scroll-behavior: smooth;
}
#todowrap{
  display:block ;
  min-height : 100vh;
  place-items: center;
}